.app {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

.appNavigationBar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
}

.appWorkspace {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}
